.main{
	border: 2px solid #000;
	margin: 2px;
	display:flex;
	flex-wrap: wrap;
}
.first{
	border: 2px solid #000;
	margin: 2px;
	display:flex;
	flex-wrap: wrap;
}
img{
	width:200px;
}
.left{
	flex: 1;
	background: lightyellow;
	border: 2px solid #000;
	margin: 2px;
}
.right{
	flex: 3;
	background: lightyellow;
	border: 2px solid #000;
	margin: 2px;
}
#b{
	color: red;
	font-size: 20px;
	font-style: italic;
}
table,tr,td{
	border:2px solid #000;
	border-collapse: collapse;

}
@media only screen and (max-width: 480px){
.main{
	display:flex;
	/*flex-wrap: wrap;*/
	flex-direction: column;
}
.first{
	border: 2px solid #000;
	margin: 2px;
}
img{
	width:100px;
	border-radius: 20px;
}
.left{
	background: lightyellow;
	border: 2px solid #000;
	margin: 2px;
}
.right{
	background: lightyellow;
	border: 2px solid #000;
	margin: 2px;
}
h2{
	color: red;
	font-size: 18px;
	font-style: italic;
}	
}
@media only screen and (min-width: 481px) and (max-width: 768px){
.main{
	/*border: 2px solid #000;*/
	/*margin: 2px;*/
	display:flex;
	/*flex-wrap: wrap;*/
	flex-direction:column;
	justify-content: center;
}
.first{
	border: 2px solid #000;
	margin: 2px;
	display:flex;
	flex-wrap: wrap;
	flex-direction: column;
}
.left{
	flex: 1;
	background: lightyellow;
	border: 2px solid #000;
	margin: 2px;
}
.right{
	flex: 3;
	background: lightyellow;
	border: 2px solid #000;
	margin: 2px;
}
h2{
	color: red;
	font-size: 18px;
	font-style: italic;
}
}
